 	<footer>
		<?xml version="1.0" standalone="no"?>
		<svg width="100%" height="30" xmlns="http://www.w3.org/2000/svg" version="1.1">
		  <defs>
		    <pattern id="Pattern" x="0" y="0" width="0.5%" height="0.05">
		      <circle cx="3" cy="3" r="2" fill="#009CDB" fill-opacity="1"></circle>
		    </pattern>
		  </defs>
		  <rect fill="url(#Pattern)" stroke="none" x="0" y="0" width="1600" height="200"></rect>
		</svg>
 		<div class="yellow-bar">
			<div class="wrapper">
				<p>&#169; <a href="index.html" alt="New Market Goods homepage">New Market Goods</a></p>
			</div>
		</div>
 	</footer>