	<header>
			<nav id="nav" class="wrapper clearfix">
				<div class="nav_span5" id="nav-left">
					<a href="about.html" alt="About">About</a>
					<!-- <a href="goods.html" alt="Goods">Goods</a> -->
					<a href="lookbook.html" alt="Lookbook">Lookbook</a>
				</div>
				<div class="nav_span5" id="mobile-nav">
					<i class="fa fa-bars"></i>
				</div>
				<div class="nav_span2" id="nav-ctr">
					<a href="index.html" alt="Home" class="logo">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="-0.711 0 22 20"><ellipse cx="2.9" cy="16.9" rx="2.9" ry="3.1"/><ellipse cx="10.3" cy="3.1" rx="2.9" ry="3.1"/><ellipse cx="6.6" cy="10" rx="2.9" ry="3.1"/><ellipse cx="14" cy="10" rx="2.9" ry="3.1"/><ellipse cx="10.3" cy="16.9" rx="2.9" ry="3.1"/><ellipse cx="17.7" cy="16.9" rx="2.9" ry="3.1"/></svg>
					</a>
				</div>
				<div class="nav_span5" id="nav-right">
					<!-- <span id="nav-right-text">
						<a href="stockists.html" alt="Stockists">Stockists</a>
						<a href="contact.html" alt="Contact">Contact</a>

					</span>
					<a href="#" alt="Shopping cart"><i class="fa fa-shopping-cart"></i></a> -->
					<a href="https://twitter.com/NewMarketGoods" alt="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="http://instagram.com/newmarketgoods" alt="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
					<a href="mailto:info@newmarketgoods.com" alt="Email New Market Goods" target="_blank"><i class="fa fa-envelope"></i></a>
				</div>
			</nav><!--.wrapper-->
	</header>