html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 16px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/*===============COLORS=================
red: #EF4135;
pacific: #009DDC;
yellow: #FFD200;
sky: #8CD2F4;
orange: #F47735;
header bg gray: #F2F2F2;
*/

/*============TYPOGRAPHY============*/

h1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 1.5em;
}

h2 {
	font-family: 'Bitter', Georiga, serif;
	font-weight: 400;
	font-size: 1.25em;
}

h3 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1em;
}

p {
	font-family: 'Bitter', Georiga, serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.75em;
	color: #808080;
}

/*==========HEADER/FOOTER===========*/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: .875em;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	background-color: #F2F2F2;
}

header a {
	display: inline-block;
	color: #808080;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5% 5% 3% 5%;
}
header a:hover {
 	color: black;
}

#logo {
	display: inline-block;
	float: left;
	text-align: center;
	margin-top: 1.75%;
}

#logo a {
	padding: 0;
}

#nav-left {
	float: left;
}
#nav-right {
	float: right;
	text-align: right;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #FFD200;
}
footer p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75em;
}




/*===========FABRIC SECTIONS===========*/
#main {
/*	overflow: auto;*/ /*clearfix*/
	height: 100%;
	width: 100%;
}

section {
	display: block;
	float: left;
	height: 95%;
	width: 20%;
	padding-top: 40%;
}

#fabric01 #fabric01_text,
#fabric02 #fabric02_text,
#fabric03 #fabric03_text,
#fabric04 #fabric04_text,
#fabric05 #fabric05_text {
	position: fixed;
	bottom: 0;
	z-index: 5;
	height: 5%;
	min-height: 35px;
	width: 20%;
}

#fabric01 {
	background: #EF4135 url('../img/fabric/fabric_01.jpg') center center no-repeat;
	background-size: cover;
}
#fabric01 #fabric01_comp {
	padding: 0 10%;
	color: white;
}
#fabric01 #fabric01_text {
	background-color: #EF4135;
}

#fabric02 {
	background: #009DDC url('../img/fabric/fabric_02.jpg') center center no-repeat;
	background-size: cover;
}
#fabric02 #fabric02_text {
	background-color: #009DDC;
}

#fabric03 {
	background: #FFD200 url('../img/fabric/fabric_03.jpg') center center no-repeat;
	background-size: cover;
}
#fabric03 #fabric03_text {
	background-color: #FFD200;
}

#fabric04 {
	background: #8CD2F4 url('../img/fabric/fabric_04a.jpg') center center no-repeat;
	background-size: cover;
}
#fabric04 #fabric04_text {
	background-color: #8CD2F4;
}

#fabric05 {
	background: #F47735 url('../img/fabric/fabric_02.jpg') center center no-repeat;
	background-size: cover;
}
#fabric05 #fabric05_text {
	background-color: #F47735;
}


/*===========PRODUCT PAGE===========*/

.product-details {
	float: left;
	width: 40%;
	padding: 7em 4em 0 4em;
}
.product-details #icon_popover-blue {
	float: left;
	padding: 2em 1.5em 0 0;
	vertical-align: center;
}
.product-details .product-title {
	float: left;
}
.product-details h1 {
	font-size: 2em;
	margin-bottom: 0;
}
.product-details h2 {
	margin-top: .5em;
	color: #EF4135;
	font-size: 1.125em;
}
.product-details .price {
	margin-bottom: 3em;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.5em;
	color: #009DDC;
}
.product-details ul {
	padding: 0 0 3.5em 0;
	text-align: center;
	line-height: 40px;
	color: #009DDC;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.125em;
}
.product-details ul li {
	display: block;
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 1em;
	border: 1px solid #009DDC;
}
.product-details ul li:hover {
	cursor: pointer;
	background-color: #009DDC;
	color: white;
}
.product-details button {
	height: 40px;
	width: 200px;
	border: 0;
	background-color: #EF4135;
	color: white;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;	
}
.product-details button:hover {
	background-color: #D3332F;
}
.product-photo {
	float: right;
	padding-top: 6.5em;
}














