html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 16px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/*	12 COLUMN : RESPONSIVE GRID SYSTEM (MODIFIED)
	DEVELOPER : DENIS LEBLANC
	URL : http://responsive.gs
	VERSION : 3.0
	LICENSE : GPL & MIT */
* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(/scripts/boxsizing.htc); 
}
.wrapper { 
	max-width: 960px;
	margin: 0 auto; 
}
/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after { 
	content: ""; 
	display: table; 
	clear: both; 
}
/* 	DEFAULT ROW STYLES */
.row { 
	padding-bottom: 0em;
}									  
/* DEFAULT COLUMN STYLES */
.col { 
	display: block;
	float: left;
	width: 100%;
}
.gutters .col {
	margin-left: 2%;
}
.gutters .col:first-child { 
	margin-left: 0; 
}
/*	COLUMN WIDTH ON DISPLAYS*/ 
.span_1 { width: 8.33333333333%; }
.span_2 { width: 16.6666666667%; }
.span_3 { width: 25%; }
.span_4 { width: 33.3333333333%; }
.span_5 { width: 41.6666666667%; }
.span_6 { width: 50%; }
.span_7 { width: 58.3333333333%; }
.span_8 { width: 66.6666666667%; }
.span_9 { width: 75%; }
.span_10 { width: 83.3333333333%; }
.span_11 { width: 91.6666666667%; }
.span_12 { width: 100%; }

.gutters .span_1 { width: 6.5%; }
.gutters .span_2 { width: 15.0%; }
.gutters .span_3 { width: 23.5%; }
.gutters .span_4 { width: 32.0%; }
.gutters .span_5 { width: 40.5%; }
.gutters .span_6 { width: 49.0%; }
.gutters .span_7 { width: 57.5%; }
.gutters .span_8 { width: 66.0%; }
.gutters .span_9 { width: 74.5%; }
.gutters .span_10 { width: 83.0%; }
.gutters .span_11 { width: 91.5%; }
.gutters .span_12 { width: 100%; }

/*===============COLORS=================*/
.red {
 	color: #EF4135;
 }
.pacific {
	color: #009DDC;
}
.yellow {
	color: #FFD200;
}
.sky {
	color: #8CD2F4;
}
.orange { 
	color: #F47735;
}
/*header bg gray: #F2F2F2;*/


/*============TYPOGRAPHY============*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-weight: 400;
}

h5, h6 {
	font-weight: 500;
}

h1.caps, h2.caps, h3.caps, h4.caps, h5.caps, h6.caps {
	text-transform: uppercase;
	letter-spacing: 5px;	
}

h1 {
	font-size: 2.5000em; /* 40px */
	line-height: 1.0500em; /* 42px */
	margin-top: 0.5250em;
	margin-bottom: 0.5250em;
}
h2 {
	font-size: 2.0000em; /* 32px */
  	line-height: 1.3125em; /* 42px */
  	margin-top: 0.6563em;  
  	margin-bottom: 0.6563em;
}
h3 {
  	font-size: 1.7500em; /* 28px */
  	line-height: 1.5000em; /* 42px */
  	margin-top: 0.7500em;  
  	margin-bottom: 0.7500em;
}
h4 {
  	font-size: 1.5000em; /* 24px */
  	line-height: 1.7500em; /* 42px */
  	margin-top: 0.8750em;  
  	margin-bottom: 0.8750em;
}
h5 {
 	font-size: 1.1250em; /* 18px */
 	line-height: 1.5em; /* 21px */
 	margin-top: 1.1667em;  
 	margin-bottom: 1.1667em;
}
h6 {
  	font-size: 1.0000em; /* 16px */
  	line-height: 1.3125em; /* 21px */
  	margin-top: 1.3125em;  
  	margin-bottom: 1.3125em;
}

h1.serif, h2.serif, h3.serif, h4.serif, h5.serif, h6.serif {
	font-family: 'Lora', Georgia, serif;
}

p {
	font-family: 'Lora', Georgia, serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	color: #808080;
}

/*==========HEADER/FOOTER===========*/

header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	font-size: .875em;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 3px;
	background-color: #F2F2F2;
}
header .nav_span12 {
	width: 100%;
}
header .nav_span5 {
	width: 41.6666666667%;;
}
header .nav_span2 {
	width: 16.6666666667%;
}
header nav div {
	float: left;
}
header a {
	display: inline-block;
	color: #808080;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5% 5% 3% 5%;
	vertical-align: top;
}
header div#nav-right {
	float: right;
	text-align: right;
}
header a:hover {
 	color: black;
}
header div#mobile-nav {
	display: none;
}
header div#nav-ctr {
	text-align: center;
}
header a.logo {
	/*background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0wLjcxMSAwIDIyIDIwIj48ZWxsaXBzZSBjeD0iMi45IiBjeT0iMTYuOSIgcng9IjIuOSIgcnk9IjMuMSIvPjxlbGxpcHNlIGN4PSIxMC4zIiBjeT0iMy4xIiByeD0iMi45IiByeT0iMy4xIi8+PGVsbGlwc2UgY3g9IjYuNiIgY3k9IjEwIiByeD0iMi45IiByeT0iMy4xIi8+PGVsbGlwc2UgY3g9IjE0IiBjeT0iMTAiIHJ4PSIyLjkiIHJ5PSIzLjEiLz48ZWxsaXBzZSBjeD0iMTAuMyIgY3k9IjE2LjkiIHJ4PSIyLjkiIHJ5PSIzLjEiLz48ZWxsaXBzZSBjeD0iMTcuNyIgY3k9IjE2LjkiIHJ4PSIyLjkiIHJ5PSIzLjEiLz48L3N2Zz4=) no-repeat center center;*/
	height: 22px;
	width: 20px;
	padding: 0;
	margin-top: 10%; 
	fill: black;
}
header a.logo:hover {
	fill: #EF4135;
}
header i {
	font-size: 18px;
}
header i.fa-shopping-cart,
header i.fa-envelope {
	color: #EF4135;
}
header i.fa-shopping-cart:hover,
header i.fa-envelope:hover {
	color: black;
}
footer {
	width: 100%;
}
footer .footer-pattern {
	background: url("../img/footer_pattern.gif") repeat no-repeat left top;
	height: 43px;
}
footer .yellow-bar {
	background-color: #FFD200;
}
footer p {
	margin-top: 0;
}
footer p,
footer a:visited {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75em;
	padding: .75em 0;
	color: black;
}
footer a {
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
footer .wrapper {
	padding: 0 5%;
}
footer #pattern {
	overflow: hidden;
}

/*===========FABRIC SECTIONS===========*/
#kickstarter {
	/*width: 40%;*/
	width: 600px;
	height: 100%;
	float: left;
	background-image: url('../img/kickstarter.jpg');
	background-size: cover;
	border-right: 1px solid white;
}
#kickstarter h4 {
	font-weight: 600;
	margin: 4em 0 0 1em;
}
#kickstarter h5 {
	margin: 1em 0 0 1.125em;
}
#kickstarter h5 a {
	border-bottom: 2px solid black;
	padding-bottom: 0.075em;
	color: black;
	text-decoration: none;
}
#kickstarter h5 a:hover {
	border-bottom: 2px solid #fff;
	padding-bottom: 0.075em;
	color: #fff;
}
#kickstarter img {
	height: 50px;
	margin: 1em 0 0 1.5em;
}
#kickstarter a:hover img {
	opacity: .6;
}

#fabrics {
/*	overflow: auto;*/ /*clearfix*/
	height: 100%;
	width: 1800px;
	/*width: 100%;*/
}
figure {
	display: inline-block;
	position: relative;
	float: left;
	height: 100%;
	width: 300px;
	min-width: 250px;
	/*width: 20%;*/
	margin: 0;
	overflow: hidden;
}
figure img.bg-img {
	min-width: 100%;
	max-width: 150%;
	display: block;
	position: relative;
	margin-top: 50px;
	transition: transform 0.4s;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	-o-transition: -o-transform 0.4s;
}
figure:hover img.bg-img {
	transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -o-transform: translateY(-150px);
}
figcaption {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: 0;
  transform: translateY(175px);
  -webkit-transform: translateY(175px);
  -moz-transform: translateY(175px);
  -o-transform: translateY(175px); 
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  padding: 5%;
  padding-top: 50px;
  color: white;
}
figcaption .icon_popover {
	fill: white;
	height: 44px;
	width: 50px;
}
figure:hover figcaption {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
}
.fabric01 {
	background-color: #8CD2F4;
}
.figcap01 {
	background-color: #8CD2F4;
}
.fabric02 {
	background-color: #FFD200;
}
.figcap02 {
	background-color: #FFD200;
}
.fabric03 {
	background-color: #009DDC;
}
.figcap03 {
	background-color: #009DDC;
}
.fabric04 {
	background-color: #EF4135;
}
.figcap04 {
	background-color: #EF4135;
}


/*===========PRODUCT PAGE===========*/

.product-container {
	max-width: 1200px;
}
.product-fabric {
	display: inline-block;
	position: relative;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.product-fabric img {
	min-width: 100%;
	/*margin-top: 50px;*/
}
.product-details {
	float: left;
	padding: 7em 4em 0 4em;
}
.product-details .icon_popover {
	width: 50px;
	height: 44px;
	fill: #009DDC;
	float: left;
	margin: 1.75em 1.5em 0 0;
}
.product-details .product-title {
	float: left;
}
.product-details h1 {
	font-size: 2em;
	margin-bottom: 0;
}
.product-details h2 {
	color: #B3B3B3;
	font-size: 1.125em;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin: .75em 0 1.5em 0;
}
.product-details h5 {
	font-size: .75em;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight:400;
	text-transform: uppercase;
	letter-spacing: .125em;
	line-height: 1.675em;
	margin: .75em 0 1.5em 0;
}
.product-details .price {
	/*margin-bottom: 3em;*/
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.5em;
	color: #009DDC;
}
.product-details ul {
	padding: 0 0 3.5em 0;
	text-align: center;
	line-height: 40px;
	color: #009DDC;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.125em;
}
.product-details ul li {
	display: block;
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 1em;
	border: 1px solid #009DDC;
}
.product-details ul li:hover {
	cursor: pointer;
	background-color: #009DDC;
	color: white;
}
.product-details button {
	height: 40px;
	width: 200px;
	border: 0;
	background-color: #EF4135;
	color: white;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;	
	/*margin-top: 2em;*/
}
.product-details p a {
	border-bottom: 2px solid;
	padding-bottom: 0.0875em;
	color: black;
	text-decoration: none;
}
.product-details p a:hover {
	border-bottom: 2px solid;
	padding-bottom: 0.0875em;
	color: #FFC600;
}
.product-details button:hover, #lookbook-content button:hover {
	background-color: #D3332F;
}

.product-photo-container {
	float: right;
}

.product-photo {
	float: left;
	padding-top: 6.5em;
	max-width: 100%;
}

/*-------------LOOKBOOK PAGE-------------*/
#lookbook-content .wrapper {
	padding: 3em 5%;
}
#lookbook-content .container .wrapper {
	padding-bottom: 0;
}
#lookbook-content .hero {
	background: url("../img/lookbook_01.jpg") repeat no-repeat center top;
	background-size: contain;
	height: 380px;
	margin-top: 3%;
	padding-top: 11%;
	color: white;
}
#lookbook-content .hero h1 {
	font-family: 'Lora', Georgia, serif;
	font-weight: 700;
	font-size: 3em;
	text-transform: none;
	letter-spacing: 1px;
	margin-top: 0;
}
#lookbook-content .hero h2 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFD200;
	font-size: 1.25em;
	margin-bottom: 0;
}
#lookbook-content h3,
#about h4 {
	font-family: 'Lora', Georgia, serif;
	font-weight: 400;
	font-size: 1.5em;
	text-transform: none;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: .25em;
}
#lookbook-content h4 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: .875em;
	line-height: 1.25em;
	letter-spacing: 3px;
	margin-top: .4em;
}
#lookbook-content h4 a {
	text-decoration: none;
}
#lookbook-content h4 a:hover {
	text-decoration: none;
}
#lookbook-content .pull-quote {
	background-color: #F2F2F2;
	text-align: center;
}
#lookbook-content .pull-quote .icon_popover {
	width: 50px;
	height: 44px;
	fill: #009DDC;
}
#lookbook-content .pull-quote p {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.25em;
	line-height: 1.5em;
	letter-spacing: 3px;
}
#lookbook-content .bangladesh-flag {
	height: 75px;
	vertical-align: top;
	padding-right: 15px;
}
#lookbook-content button {
	border: 0;
	padding: .75em 1.5em;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	background-color: #EF4135;
	color: white;
	margin: 2em 0 5em 0;
}

/*---------------ABOUT PAGE-------------*/
#about.wrapper {
	padding: 0 5%;
}
#about h1,
#about h2 {
	text-align: center;
}
#about h1.logo-type {
	margin-top: 2em;
	font-size: 2em;
	font-family: 'omnes-pro', Helvetica, Arial, sans-serif;
	letter-spacing: 8px;
}
#about h1.logo-type span.m {
	display: inline-block;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	vertical-align: top;
	margin-top: 4px;
	letter-spacing: 0;
	padding-left: .25em;
}
#about h1.logo-type span.goods {
	display: block;
	font-size: 0.6em;
	font-weight: 500;
}
#about h2 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.25em;
	line-height: 1.5em;
	letter-spacing: 4px;
	color: #EF4135;
	margin: 1.5em auto 2.5em auto;
}
#about h3 {
	font-size: 1em;
	line-height: 1.5em;
}
#about h4 {
	font-size: 1.125em;
	line-height: 1.35em;
	margin-bottom: -.25em;
	margin-top: 1.5em;
}
#about .bangladesh-flag {
	height: 30px;
	margin-top: 4em;
}
#about .kickstarter-btn {
	display: inline-block;
	text-align: center;
}
#about button {
	border: 2px solid #EF4135;
	padding: .75em 1.5em;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 4px;
	background-color: #FFF;
	color: #EF4135;
	margin: 2em 0 5em 0;
}
#about button:hover {
	background-color: #EF4135;
	color: #FFF;	
}
.ctr {
	text-align: center;
}

#about .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1em;
	margin-bottom: 2em;
	height: 0;
}
#about .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*==========SIZING===========*/

.table-image {
	width:100%;
	margin-bottom:-1%;
}

table.sizing {
    width: 100%; 
}
table, th, td {
    border: 0;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
th {
	font-weight: 400;
	font-size: 1em;
}
td {
	font-weight: 300;
	font-size: 1em;
}
table.sizing th	{
    background-color: #FFC600;
}
table.sizing tr:nth-child(even) {
    background-color: #F2F2F2;
}
table.sizing tr:nth-child(odd) {
   background-color:#F8F8F8;
}
table.sizing tr:nth-child(even) td:hover {
  background-color: #ffecaa;
}
table.sizing tr:nth-child(odd) td:hover {
  background-color: #fff4cc;
}

/*-------------MEDIA QUERIES-------------*/

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {

}
@media only screen and (max-width: 960px) {
	body {
	font-size: 14px;
	}
}
@media only screen and (max-width: 860px) {
	header a {
		padding: 5% 3% 3% 3%;
	}

}

@media only screen and (max-width: 768px) {
	.col {
		float: none;
		margin: 0;
	}
	.gutters .col {
		margin: 0;
	}
	.span_1, .span_2,	.span_3, .span_4,	.span_5,
	.span_6, .span_7,	.span_8, .span_9, .span_10, 
	.span_11, .span_12, 
	.gutters .span_1, .gutters .span_2,
	.gutters .span_3, .gutters .span_4, 
	.gutters .span_5, .gutters .span_6,
	.gutters .span_7, .gutters .span_8,
	.gutters .span_9, .gutters .span_10,
	.gutters .span_11, .gutters .span_12 {
		width: 100%;
	}
	header nav #nav-left {
		display: none;
	}
	header div#mobile-nav {
		display: inline-block;
		font-size: 18px;
	}
	header div#mobile-nav i {
		padding: 5% 3% 3% 5%;
	}
	header div#nav-left a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid #dedede;
	}
	header div#nav-ctr {
		padding-bottom: 1%;
	}
	header div#nav-right a {
		padding-right: 5%;
	}
	header span#nav-right-text {
		display: none;
	}

	#fabrics,
	figure,
	#kickstarter {
		width: 100%;
		border: none;
	}
	#kickstarter {
		height: 480px;
	}
	figure img.bg-img {
		width: auto;
		margin-top: 0;
		display: block;
		position: relative;
		transition: transform none;
		-webkit-transition: -webkit-transform none;
		-moz-transition: -moz-transform none;
		-o-transition: -o-transform none;
	}
	figure:hover img.bg-img {
		transform: translateY(0);
	  -webkit-transform: translateY(0);
	  -moz-transform: translateY(0);
	  -o-transform: translateY(0);
	}
	figure figcaption {
	  position: absolute;
	  width: 100%;
	  top: auto;
	  transform: translateY(0);
	  -webkit-transform: translateY(0);
	  -moz-transform: translateY(0);
	  -o-transform: translateY(0); 
	  padding: 5%;
	}
	figure:hover figcaption {
	  transition: transform none;
	  -webkit-transition: -webkit-transform none;
	  -moz-transition: -moz-transform none;
	  -o-transition: -o-transform none;
	}
	figure figcaption .icon_popover {
		float: left;
		margin: .4em 1em 0 0;
	}
	figure figcaption h1,
	figure figcaption h2 {
		margin: 0;
	}

	#lookbook-content .hero {
		background-size: cover;
	}	
	#lookbook-content .hero .wrapper {
		padding: 12em 5% 0 5%;
	}
	#lookbook-content .bangladesh h3 {
		text-align: center;
		margin-top: 1.5em;
	}

	.product-details {
		padding-top: 6em;
		max-width:50%;
	}

	.product-fabric {
		display: none;
	}

	.product-photo-container {
		max-width: 50%;
	}
}

@media only screen and (max-width: 480px) {
	.product-details {
		max-width: 100%;
	}
	

	.product-photo-container {
		max-width: 100%;
	}

	.product-details {
		padding: 2em 2em 0 2em;
	}

	.product-photo {
		max-width: 100%;
		padding-top: 5em;
	}
}

@media only screen and (max-width: 320px) {
}














