body {
	height: 100%;
	font-size: 16px;
}

/*===============COLORS=================
red: #EF4135;
pacific: #009DDC;
yellow: #FFD200;
sky: #8CD2F4;
orange: #F47735;
*/

/*============TYPOGRAPHY============*/

h1 {

}

h2 {

}

p {

}

/*==========HEADER/FOOTER===========*/

header {
	position: fixed;
	width: 100%;
	font-size: .875em;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	background-color: white;
}

header a {
	display: inline-block;
	color: #808080;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5% 5% 3% 5%;
}
header a:hover {
 	color: black;
}

#logo {
	display: inline-block;
	float: left;
	text-align: center;
	margin-top: 1.75%;
}

#logo a {
	padding: 0;
}

#nav-left {
	float: left;
}
#nav-right {
	float: right;
	text-align: right;
}

footer {

}


/*===========FABRIC SECTIONS===========*/
.main {
	height: 500px;
}

section {
	display: block;
	float: left;
	height: 100%;
	width: 20%;
}

#fabric_01 {
	background-color: #EF4135;
}

#fabric_02 {
	background-color: #009DDC;
}

#fabric_03 {
	background-color: #FFD200;
}

#fabric_04 {
	background-color: #8CD2F4;
}

#fabric_05 {
	background-color: #F47735;
}


















